@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
.Menu_button{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size:20px;
    background-color: rgba(223, 219, 219, 0);
    width:auto;
    height:50px;
    font-family:'Surce code';
    text-shadow:3px 3px rgba(0, 0, 0, 0.11);
    border:none;
    margin-left:4px;
    border-radius:10px;
}
.Menu_button:hover{
    background-color: gray;
}
.Menu_button:active{
    background-color:rgba(0, 0, 0, 0.514);
}
.Menu_button img{
    border-radius: 200px;
    margin-right:4px;
}
.Menu_button div{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    height:40px;
    width:32px;
}
.Menu_button div p{
    font-family: 'PT serif';
    position: relative;
    color:red;
    font-size:20px;
    top:3px;
    right:4px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius:20px;
    align-self:flex-end;
    width:0px;
    margin:0px;
    text-align: center;
}
.bt_shop{
    background-color:rgba(0, 0, 0, 0);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    cursor: pointer;
    border: none;
    margin-right:20px;
    width:40px;
    height:40px;
}
.bt_shop:hover{
    background-color:rgba(0, 0, 0, 0);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    cursor: pointer;
    border: none;
}
.bt_shop:active{
    background-color:rgba(0, 0, 0, 0);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    cursor: pointer;
    border: none;
    position: relative;
    top:2px;
}
.bt_shop p{
    color:red;
    position: relative;
    bottom:25px;
    right:20px;
    font-size:30px;
}
#p_star{
    color:gold;
}
/* ----------------------LOGIN BUTTON------------------ */
#div_bt_login{
    display:flex;
    justify-content:flex-start;
    width:50%;
    margin-top:5px;
}
.loginButton{
    color:white;
    margin-right:10px;
    font-size:17px;
}
/* ---------------------------USER TOOLS---------------------- */
#user_tools{
    align-self:top;
    display:flex;
    width:200px;
    height:100px;
    align-items:top;
    justify-content:flex-end;
    background-color:rgba(128, 128, 128, 0);
}
#lang{
    margin-top:29px;
}
/* ------------------------USER INFO----------------- */
#user_info{
    background-color:rgba(98, 98, 100, 0);
    height:50px;
    width:200px;
    display: flex;
    justify-content:flex-end;
    margin-right:10px;
    border-bottom:solid black 1px;
}
#user_photo{
    border-radius:200px;
    width:40px;
    height:40px;
    border:solid rgb(19, 18, 18) 2px;
    background-color: rgba(0, 0, 0, 0);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border: none;
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.568);
    cursor: pointer;
    margin-top:15px;
    
}
#user_photo:hover{
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.877);
}
#user_photo:active{
    box-shadow:none;
}
#user_photo_img{
    border-radius:100px;
    border:solid 1px black;
}
#user_name{
    width:80%;
    text-align:center;
    text-decoration:underline;
    margin:0px;
    margin-right:5px;
    margin-top:20px;
    color:rgb(29, 28, 28);
}
#user-profile{
    display: flex;
    justify-content:flex-end;
    flex-wrap:wrap;
    width:100%;
}
#user_photo p{
    position: relative;
    bottom:25px;
    right:15px;
    color:red;
    font-size:20px;
    text-align:center;
    font-family:'PT serif';
}
/* -------------------------USER MENU------------------------- */
#menu{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    position:absolute;
    top:60px;
    right:10px;
    background-color:rgb(250, 249, 249);
    width:auto;
    height:auto;
    box-shadow:10px 0px 10px rgba(15, 15, 15, 0.61);
    border-radius:10px;
    background-image:linear-gradient(to right,rgb(221, 217, 217),rgb(214, 214, 214),gray);
}
#menu:hover{
    box-shadow:10px 0px 10px rgba(15, 15, 15, 0.74);

}



